* {
  font-family: 'Roboto';
}

html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 8px;
}

.login-page,
.forgot-page,
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  overflow: hidden;
}

.login-box,
.forgot-box,
.register-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 40px rgb(0 0 0 / 16%);
  margin: 0 auto;
  border-radius: 12px;
  flex-wrap: wrap;
  align-content: stretch;
}

#login-form,
#forgot-form,
#register-form {
  padding: 60px;
}

.ant-form-item-control-input-content {
  text-align: left;
}

#login-form_email,
#login-form_password,
#forgot-form_verification-code,
#forgot-form_new-password,
#register-form_first-name,
#register-form_email,
#register-form_password {
  margin-top: 12px;
  height: 48px;
  border-radius: 8px;
  width: 100%;
  font-size: large;
}

.ant-form-item-control-input-content {
  /* text-align: left; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
}

#login-form .ant-btn,
#forgot-form .ant-btn,
#register-form .ant-btn {
  height: 42px;
  margin-top: 12px;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: large;
}

@media screen and (max-width: 900px) {

  .login-box,
  .forgot-box,
  .register-box {
    flex-direction: column;
    box-shadow: none;
  }

  #login-form,
  #forgot-form,
  #register-form {
    max-width: 100%;
  }
}