.ant-form-item-control-input-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
}

.login-page,
.reset-page,
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-image: url(../static/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-box,
.reset-box,
.register-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.822);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-wrap: wrap;
    align-content: stretch;
    margin: auto 20px;
}

/* .login-box .logo {
    max-height: 25px;
    max-width: 25px;
} */

#login-form,
#reset-form,
#register-form {
    padding: 60px;
}

@media screen and (max-width: 900px) {

    .login-box,
    .reset-box,
    .register-box {
        flex-direction: column;
        box-shadow: none;
    }

    #login-form,
    #reset-form,
    #register-form {
        max-width: 100vw;
    }

    .login-page,
    .reset-page,
    .register-page {
        background-size: cover;
    }
}