.main-content-layout .layout-header button {
    margin: auto 10px;
}

.main-content-layout .layout-header button:first-of-type {
    margin-left: 0px;
}

.transactions-table table {
    table-layout: fixed !important;
}

.transactions-table thead>td {
    font-weight: bolder;
}

@media screen and (max-width: 900px) {
    .ant-table-expand-icon-col {
        width: 35px;
    }
}